body{
    background-color: blue;
}
h1{
    background-color: white;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 30%;
    
}
.boxtitle{
    font-size: medium;
    text-align: center;
    margin: 35px;
    
}
button{
    font: small-caption;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    border-radius: 40%;
    background-color: cadetblue;
    margin-left: 45%;
    margin-top: 5%;
}